body {
	background-color: #505050;
	margin: auto;
}
.global {
	position: relative;
	width: 1520px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
}
.main {
	position: relative;
	padding-top: 17px;
	width: 1418px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
}
.header {
	background-color: #8f8f8f;
	width: 1418px;
	height: 140px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

.dayof {
	height: 115px;
	padding-top: 9px;
	padding-left: 10px;
}

.reload {
	position: relative;
	float: right;
	width: 25px;
	top: 8px;
	left: -13px;
}

.close {
	position: relative;
	float: right;
	width: 25px;
	top: 108px;
	left: 12px;

}

.loupe {
	position: relative;
	float: right;
	top: 12px;
	left: 10px;
}

.left {
	background-color: #8f8f8f;
	float: left;
	margin-left: 43px;
	margin-right: 25px;
	margin-top: 17px;
	width: 140px;
	height: 430px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	text-align: center;
}

.arrow {
	margin-top: 10px;
}

.left img {
	width: 75px;
}

.book {
	margin-top: 10px;
}

.right img {
	width: 80px;
}

.wall {
	width: 125px;
	height: 72px;
	margin-left: 9px;
	background-image: url(resources/brick.jpg);
}

.right {
	background-color: #8f8f8f;
	margin-top: 17px; 
	width: 145px;
	height: 430px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	overflow: hidden;
	text-align: center;
}

.box {
	background-color: #8f8f8f;
	float: left;
	margin-top: 10px;
	margin-right: 25px;
	width: 1000px;
	height: 567px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

.ikea {
	position: absolute;
	z-index: 1;
	margin-top: -250px;
	margin-left: 320px;
	width: 150px;
	height: 150px;
}

.apple {
	position: absolute;
	z-index: 1;
	margin-top: -250px;
	margin-left: 800px;
	width: 180px;
	height: 120px;
}


.cluster {
	width: 984px;
	margin-left: 8px;
	margin-top: 7px;
}

.bottom_box {
	position: absolute;
	background-color: #87fe88;
	float: left;
	width: 505px;
	height:	164px;
	margin-left: -50px;
	margin-top: 65px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

.bottom {
	margin-left: 10px;
	font-size: 16px;
	font-family: Arial, Helvetica, serif;
	margin-top: 2px;
	letter-spacing: 1px;
}

.gros {
	font-size: 34px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.redline {
	text-shadow: 6px 6px 6px red;
}

.italic {
	font-style: italic;
}

input[type="text"] {
	width: 350px;
	margin-left: 2px;
	margin-right: 12px;
	margin-top: 3px;
	box-shadow: inset 1px 1px 0px 0px grey;
}

input[type="submit"] {
	width: 78px;
	margin-left: -6px;
	margin-top: 3px;
	font-family: Arial, Helvetica, serif;
	letter-spacing: 1px;
	font-size: 13px;
	background-color: #eff0f0;
	border-width: 1px;
	border-color: #a6a8a3;
	border-radius: 3px;
}