		* {
			padding: 0;
			margin: 0;
		}
		table {
			border-collapse: collapse;
			margin: auto;
			margin-bottom: 5px;
			width: 80%;
			height: 80%;
		}
		td {
			width: 5.5vw;
			height: 5.5vh;
			text-align: center;
			position: relative;
			border: 1px solid black;
		}
		img {
			width: 100%;
			height: 100%;
		}
		.elem {
			padding-bottom: 3.1vh;
			width: 100%;
			font-size: 1.8vw;
		}
		.num {
			position: absolute;
			font-size: 0.8vw;
			left: 0;
			bottom: 0;
		}
		.pds {
			position: absolute;
			font-size: 0.8vw;
			right: 0;
			top: 0;
		}
		.vide {
			border: none;
		}
		.nm {
			background-color: green;
		}
		.ma {
			background-color: red;
		}
		.at {
			background-color: #FFE4C4;
		}
		.mt {
			background-color: pink;
		}
		.la {
			background-color: #DDA0DD;
		}
		.ac {
			background-color: #D02090;
		}
		.ha {
			background-color: yellow;
		}
		.gaz {
			background-color: #87CEFA;
		}
		.me {
			background-color: #BDB76B;
		}
		.mp {
			background-color: #D3D3D3;
		}