ul ul {
	display: none;
	position: absolute; 
	left: 160px; 
	top: -2px; 
	margin:0px; 
	padding: 0px; 
	border: 1px solid #002F2F;
}

/*ul li {
	display: none;
}*/

li {
	list-style-type: none; 
	position: relative; 
	width: 150px;
	height: 20px;
	background-color: #f9cc9d;
	border: 1px solid #002F2F;
	padding: 5px;
	padding-top:8px;
	margin: 0px;
	text-align:center;
	color: #002F2F;
	font-family: helvetica;
}
li:hover {
  	background-color: #ab6669;
}
li:hover ul.niveau2, li li:hover ul.niveau3 {
	display: block;
}
li.plus {
	/*background-position: right; */
	background-repeat: no-repeat; 
	border-bottom: 1px solid #002F2F;
}